.queryOption {

  .panel{
    padding-bottom:  16px;
    :global(.ant-checkbox-group){
      display:inline;
    }

    margin-bottom: 8px;
    :global(.ant-calendar-picker){
      width: 100px;
    }

    :global(.ant-radio-group){
          margin: 0 10px;
    }

    :global(.ant-checkbox-wrapper){
      margin-left: 10px;
    }

    .note_text {
      margin: 0 8px;
    }

    .handerIcon {
      cursor: pointer;
      &:hover {
        color : shade(#2db7f5, 40%);
        }
    }

    .select{
      width: 120px;
    }
  }

  .queryKey{
    :global(.ant-input) {
      width: 120px;
      margin: 0 8px 8px 0;
    }

    .clearBtn{
      float: right;
      margin-right: 20px;
    }

  }

  .labelNote{
    margin: 0 10px;
    font-size: 12px;
    color: #666;
    font-weight: bold;
    display:inline;
  }

  .hide{
    display: none;
  }

}
.text_center{
  text-align: center;
}

.text_right{
  text-align: right;
}
